<!doctype html>

<html>
	<head>
		<meta charset="utf-8" name="viewport" content = "width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css" type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
		<script src="/js/my.js"></script>
		<script>
		  $(document).ready(function() {
			$("button").addClass("animated bounce");
			$(".well").addClass("animated shake");

		  });
		</script>
	</head>

<body>

	<div id="main_wrapper">

		<header>
			<h1 class="blue-text text-center border">La-contestation</h1>
		</header>
		
		<nav class="navbar">
		<div class="container-fluid">
			<!--logo-->
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle=
				"collapse" data-target="#topNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'music:index' %}">Navigation</a>
			</div>
			
			<!--items-->
			<div class="collapse navbar-collapse" id="topNavBar">
				<ul class="nav navbar-nav">
					<li class="">
						<a href="{% url 'music:index' %}">
							<span class="glyphicon glyphicon-home" aria-hidden='true'></span>
							Home
						</a>
					</li>
					<li class="active">
						<a href="{% url 'music:index' %}">
							<span class="glyphicon glyphicon-list-alt" aria-hidden='true'></span>
							About
						</a>
					</li>
				</ul>
				
				<ul class="nav navbar-right navbar-nav">
					<li class="">
						<a href="{% url 'music:album-add' %}">
							<span class="glyphicon glyphicon-envelope" aria-hidden='true'></span>
							Contact
						</a>
					</li>
					<li class="">
						<a href="{% url 'music:index' %}">
							<span class="glyphicon glyphicon-off" aria-hidden='true'></span>
							Logout
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
		
		<div class="container-fluid">
		
			<h2 class="text-center format">Sign-Up</h2>
			<form  class ="text-center margin" action="/.....">
				<div class="form-group">
					<label><Input class="form-control" type="text" name="Name" placeholder="Name"required></label>
				</div>
				<div class="form-group">
					<label><input class="form-control" type="tel" name="contact no." placeholder="Mobile Number" pattern="[789][0-9]{9}" maxlength="12"  title="Ten digits code" required></label><br>
				</div>
				<div class="form-group">
					<label><Input class="form-control" type="email" name="email" placeholder="Email-ID"required></label><br>
				</div>
				<div class="form-group">
					<label><Input class="form-control" type="date" name="dob" placeholder="Date of Birth" required></label><br><br>
				</div>
				<div class="form-group">
					<label><Input type="radio" name="gender"required>Male
					<Input type="radio" name="gender"required>Female
					<Input type="radio" name="gender"required>Prefer not to say</label><br>
				</div>
				<div class="checkbox">
					<label><Input type="checkbox" name="Conditions"required>Policy</label><br><br>
				</div>
				<div class="form-group">
					<img src="/..."
					id="captchaimg" >
					<label for="message">Enter the code</label>
					<label><input class="form-control" id="6_letters_code" name="6_letters_code" type="text"></label>
				</div>
					<button class="btn btn-default" type="submit" value="submit"><i class="glyphicon glyphicon-heart"></i>&nbsp;Submit</button>
					<button class="btn btn-danger" type="reset" value="reset"><i class="glyphicon glyphicon-off"></i>&nbsp;Reset</button>
			</form>
			
		</div>
	<!--
		<h3 class="text-center">Sign-In</h3>

		<form action="/...">
		<div class="row">
			<div class="col-xs-6">
				<h4>Listen</h4>
				<div class="well" id="center-well">
					Username<input type="text" name="userid"/>
					Password<input type="password" name="password"/>
					<input type="button" onclick="check(this.form)" value="Login"/>
					<input type="reset" value="Cancel"/>
				</form>
			</div>
		</div>
				<script language="javascript">
					function check(form) 
						if(form.userid.value == "myuserid" && form.pswrd.value == "mypswrd") {
							window.open('target.html')
						}
						else {
							alert("Error Password or Username")
						}
					}
				</script>
				
		<div class="col-xs-6">
		
			<h4>Share</h4>
			<div class="well" id="right-well">
					Username<input type="text" name="userid"/>
					Password<input type="password" name="pswrd"/>
					<input type="button" onclick="check(this.form)" value="Login"/>
					<input type="reset" value="Cancel"/>
				</form>
			</div>
				
		</div>
		
		</div>
				<script language="javascript">
					function check(form) { 
					 if(form.userid.value == "myuserid" && form.pswrd.value == "mypswrd") {
							window.open('target.html')
						}
						else {
							alert("Error Password or Username")
						}
					}
				</script>
		</div>
		!-->
		<footer class="panel-footer">
			<h4>Copyright info 2017&copy;</h4>
		</footer>
	</div>
</body>

</html>

